body{
    font-family: Work Sans, sans-serif;
    margin: 0px;
}

.content__body{
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    padding-top: 1px;
    /* padding-bottom: 40px; */
}

*, *::after, *::before{
    box-sizing: border-box;
}
