{% extends "layout.html" %}

{% block content %}
    <div class="main__about">
        <div class="main__about_content">
            <p class="main__about_title">
                Welcome! nice to meet you.
            </p>
            <p class="main__about_subtext">
                I am Ankita Sharma, a sofware developer with more than seven years of comprehensive 
                expertise in the IT industry. My journey in software development began with a deep 
                curiosity for building dynamic and user-friendly websites. Over the years I have honed 
                my skills in areas of front-end & backend development, Analytics, Business Intelligence and 
                Communication.
            </p>
            <p class="main__about_subtext">
                I am proficient in a range of programming languages and frameworks, including 
                Java, Python, Restful Webservices, SQL and Mongo. I am passionate about programming 
                and consider it to be my top priority. If you want to see some of the projects 
                I work on in my spare time, you can explore my GitHub profile and my portfolio. 
                Also, You can check out my technical blog where I find pure delight in crafting 
                insightful content, sharing tutorials on cutting-edge technologies, and documenting 
                my valuable learning journey in the field.
            </p>
        </div>
    </div>
{% endblock %}