{% extends "layout.html" %}

{% block content %}
    <main class="main">
        <div class="main__content">
            <section class="main__content_section">
                <h1 class="main__content_title">Add new entry</h1>
                <form class="form" action="/" method="POST">
                    <p class="form__area">
                        <textarea class="form__title_textarea" name="title" id="entry-field" aria-label="Enter title" placeholder="Enter title for article" maxlength="130"></textarea>
                        <textarea class="form__textarea" name="content" id="entry-field" aria-label="Enter new content" placeholder="Enter data for article" maxlength="500"></textarea>
                    </p>
                    <button class="form__button_submit" type="submit">Submit</button>
                </form>
            </section>
        </div>
    </main>
{% endblock %}