{% from "main_macro.jinja2" import display_articles %}

{% extends "layout.html" %}

{% block content %}
    <main class="main">
        <div class="main__div">
            <div class="main__content">
                <div class="date_filter_section">
                    <section class="date_filter">
                        <form action="#" method="POST">
                            <label for="date_filter_start">Start Date:</label>
                            <input type="date" class="date_filter_start" name="filter_start" value="01-01-2023" />

                            <label for="date_filter_end">End Date:</label>
                            <input type="date" class="date_filter_end" name="filter_end" value="01-01-2023" />

                            <input type="submit" class="filter_submit" value="Submit"/>
                        </form>
                    </section>
                </div>
                <section class = "articles__section">
                    {{ update_article_list() }}
                    {{ display_articles(entries) }}
                </section>
            </div>
        </div>
    </main>
{% endblock %}