<footer class="footer">
    <div class="footer__content">
        <section class="left">
            <span class="footer__item">&#169; 2023 TechWired. Published by Ankita Sharma</span>
            <a href="{{ LinkedIn }}" target="_blank" class="footer__item_social">
                <img class="footer__item" src="{{ url_for('static', filename='img/social/Linkedin.png') }}" alt="LinkedIn link" 
                width="18px" height="18px"/>
            </a>
            <a href="{{ github }}" target="_blank" class="footer__item_social">
                <img class="footer__item" src="{{ url_for('static', filename='img/social/GitHub.png') }}" alt="GitHub link" 
                width="18px" height="18px"/>
            </a>
            <a href="{{ medium }}" target="_blank" class="footer__item_social">
                <img class="footer__item" src="{{ url_for('static', filename='img/social/Medium.png') }}" alt="Medium link" 
                width="18px" height="18px"/>
            </a>
        </section>
        <section class="right">
            <div class="footer__right_column">
                <a class="footer__link_item" href="{{ url_for('main_page') }}">Home</a>
                <a class="footer__link_item" href="{{ url_for('aboutme') }}">About</a>
                <a class="footer__link_item" href="{{ url_for('add_article_page') }}">Check out my other projects</a>
            </div>
        </section>
    </div>
</footer>