<header class="header">
    <div class="navbar">
        <div class="navbar__content">
            <div class="navbar__brand">
                <img src="{{ url_for('static', filename='img/logo.png') }}" class="navbar__brand_logo"
                    alt="Bloging page logo" width="30px" height="30px"/>
                <b>TèchWired</b>
            </div>
            <ul class="navbar__navigation">
                <li class="navbar__navigation_item"><a href="{{ url_for('main_page') }}" class="navbar__navigation_link">Home</a></li>
                <li class="navbar__navigation_item"><a href="{{ url_for('blog') }}" class="navbar__navigation_link">Blog</a></li>
                <li class="navbar__navigation_item"><a href="{{ url_for('aboutme') }}" class="navbar__navigation_link">About</a></li>
            </ul>
        </div>
    </div>
</header>