{% from "main_macro.jinja2" import display_articles %}

{% extends "layout.html" %}

{% block content %}
    <main class="main">
        <div class="main__div">
            <div class="main__content">
                <div class="welcome_div">
                    <section class="welcome_section">
                        <h1 class="welcome_text">Welcome to Technology based Blog !</h1>
                    </section>
                </div>
                <section class = "articles__section">
                    {{ update_article_list() }}
                    {{ display_articles(entries) }}
                </section>
            </div>
        </div>
    </main>
{% endblock %}