[Unit]
Description=Blogging Site
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/ec2-user/app/
Environment="PATH=/home/ec2-user/app/app_env/bin"

ExecStartPre=source /home/ec2-user/app/app_env/bin/activate
ExecStart=gunicorn --bind unix:app.sock -m 007 "blogging:create_app()"
ExecStop=deactivate
[Install]
WantedBy=multi-user.target