#!/bin/bash
[Unit]
Description=Blogging Site
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
User=root
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/home/ec2-user/app

ExecStart=/usr/bin/gunicorn --bind unix:gunicorn.sock -m 007 'blogging:create_app()'
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
